footer {
    background-color: $color_fondo;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: auto;
    gap: 20px

    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
}

.mapa {
    text-align: center;
    align-items: center;
    padding-left: 10px;
}

.video{
    text-align: center;
    align-items: center;
    padding-left: 1px;
}

.pagos {
    text-align: center;
}
